/*print*/
@media print {
  .tm-main-nav {
    display: none;
  }
  #home::before {
    display: none;
  }
  section::before {
    display: none;
  }
  .tm-main-content {
    margin-left: 0;
  }
  .tm-main-content>*,
  #about {
    display: none;
    width: 100%;
    height: 70%;
  }
  #home,
  #home+section,
  .tm-footer {
    display: block;
  }
  .tm-banner {
    max-height: 220px;
    border: #666;
    margin-right: 70px;
  }
  h2.tm-section-title {
    color: blue;
  }
  .pad {
    padding-top: 0;
    padding-bottom: 0;
  }
  .tm-content-box {
    margin-top: 10px;
    text-align: left;
  }
  .flex-item {
    width: 40%;
    height: 40%;
    margin-left: 50px;
  }
  footer {
    margin-top: 15px;
  }
}

section>.tm-content-box {
  display: flex;
  align-items: center;
  margin-right: 0px;
}
p::first-letter {
  font-size: 30px;
  color: #87CEFA;
}
.box-bg h2:hover {
  background: #31b0d5;
  color: white;
  font-weight: bold;
}
#home::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 100px 0 0;
  border-color: #31b0d5 transparent;
}
section::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 100px 0 0;
  border-color: #31b0d5 transparent;
}
.heading ol a {
  color: black;
}
.heading ol a:visited {
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: black;
}
.heading li a:hover {
  text-decoration-line: underline;
  text-decoration-style: double;
  color: #31b0d5;
}
.text::after {
  content: 'New';
  color: red;
  font-size: 75%;
  vertical-align: top;
}
#ideas .tm-section-title {
  color: gainsboro;
  letter-spacing: 5px;
}
p.tm-section-description {
  text-indent: 25px;
}
section h2+p {
  font-style: italic;
}
.p {
  text-indent: 20px;
  line-height: 2.2;
}
.box h2 {
  font-size: 35px;
}
.blocks .box p::first-letter {
  color: gray;
  font-size: 35px;
}
.blocks .box p {
  font-size: 16px;
  font-style: italic;
}
.blocks .box:nth-child(even) {
  background-color: #f2f2f2;
}
.blocks .box {
  margin: 0;
  padding: 10px;
  margin-top: 10px;
}
.mandatory-field::after {
  content: "*";
  color: red;
}
.submit-btn {
  background-color: white;
  color: #31b0d5;
  border: 1px solid#31b0d5;
  margin-left: 87%;
  padding: 10px 39px;
  margin-top: -5px;
}
.submit-btn:hover {
  background: #31b0d5;
  color: white;
}
.tm-content-box,
.tm-main-nav {
  box-shadow: 0 0 20px#666;
  padding: 0;
}
.tm-nav-item:hover {
  background-color: lightgray;
}