$background-image:url(../img/header_background_v1.jpg);
$contentBackground: #fff;
$articleWidth: 880px;
$font-family: sans-serif;
$articlebackground: #efefef;
$border-bottom: #617d8a;
$acolor: #1fbcd3;
$h3color: #1697a6;
$a: white;
$pcolor: #bdced6;
$postcolor:#FF0000;
$contcolor:#000000;

