$background-image:url(../img/header_background_v2.jpg);
$contentBackground: #efefef;
$articleWidth: 880px;
$font-family: serif;
$articlebackground: #efefef;
$border-bottom: #cfd8dc;
$acolor: blue;
$h3color: #617d8a;
$a: #FF0000;
$pcolor: #757575;
$postcolor:#bdced6;
$contcolor:#757575;